<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--css-->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/styles.css">


    <!--js-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/autoplay.js"></script>

    <title>صفحه بازی بسکتبال</title>

</head>
<body>


<div class="container bg-white align-items-center">
    <div class="bg-secondary text-center p-4">
        <pre>شهرداری تبریز   0 - 0   مهرام</pre>
    </div>
    <div class="row m-2 justify-content-center">
        <div class="col-9 col-md-7 p-1">
            <h5 class="table-info text-center">مهرام</h5>
            <table class="table tabl-sm table-bordered table-responsive">
                <thead class="thead-dark">
                <tr>
                    <td>پرتاب 2 امتیازی</td>
                    <td>پرتاب 3 امتیازی</td>
                    <td>مدت زمان بازی</td>
                    <td>تعداد ریباند</td>
                    <td>زمان تعویض</td>
                    <td>نام بازیکن</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>

                </tbody>

            </table>
            <h5 class="table-info text-center">شهرداری تبریز</h5>
            <table class="table tabl-sm table-bordered table-responsive">
                <thead class="thead-dark">
                <tr>
                    <td>پرتاب 2 امتیازی</td>
                    <td>پرتاب 3 امتیازی</td>
                    <td>مدت زمان بازی</td>
                    <td>تعداد ریباند</td>
                    <td>زمان تعویض</td>
                    <td>نام بازیکن</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2</td>
                    <td>20:31</td>
                    <td>7</td>
                    <td>22:29</td>
                    <td>بازیکن 1</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-9 col-md-5 p-2 order-first order-md-0">
            <div class="d-sm-flex flex-column align-items-center">
                <table class="table table-sm text-center table-borderless table-dark table-layout table-fixed mt-3"
                >
                    <thead>
                    <tr>
                        <td align="center">مهرام</td>
                        <td align="center">رخداد</td>
                        <td align="center">شهرداری تبریز</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>0</td>
                        <td>امتیاز پایانی</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>پرتاب دو امتیازی</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>پرتاب سه امتیازی</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>خطاها</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>خطاهای پنالتی</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>ریباند</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>امتیاز در کوارتر اول</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>امتیاز در کوارتر دوم</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>امتیاز در کوارتر سوم</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>امتیاز در کوارتر چهارم</td>
                        <td>0</td>
                    </tr>

                    </tbody>
                </table>
                <img class="on-air" src="../../Resources/Icons/on-air.gif">
                <div class="live-event container px-3">
                    <div class="row table-success justify-content-center align-items-center">
                        <p class="col-5 ">
                            2 امتیاز
                        </p>
                        <p class="col-3">
                            5:47
                        </p>
                        <p class="col-4">
                            شهرداری تبریز
                        </p>
                    </div>
                    <div class="row bg-success justify-content-center">
                        <p class="col-5 ">
                            3 امتیاز
                        </p>
                        <p class="col-3">
                            10:36
                        </p>
                        <p class="col-4">
                            مهرام
                        </p>
                    </div>
                    <div class="row bg-danger justify-content-center">
                        <p class="col-5 ">
                            خطا
                        </p>
                        <p class="col-3">
                            24:16
                        </p>
                        <p class="col-4">
                            مهرام
                        </p>
                    </div>
                    <div class="row table-danger justify-content-center">
                        <p class="col-5 ">
                            ریباند
                        </p>
                        <p class="col-3">
                            29:17
                        </p>
                        <p class="col-4">
                            مهرام
                        </p>
                    </div>
                    <div class="row table-info justify-content-center">
                        <p class="col-5 ">
                            تعویض
                        </p>
                        <p class="col-3">
                            10:36
                        </p>
                        <p class="col-4">
                            مهرام
                        </p>
                    </div>
                    <div class="row bg-success justify-content-center">
                        <p class="col-5 ">
                            گل
                        </p>
                        <p class="col-3">
                            10:36
                        </p>
                        <p class="col-4">
                            مهرام
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!--timelines-->
    <div>
        <h6 class=" text-center">
            تایملاین شهرداری تبریز
        </h6>
        <div class="timeline-basket">
            <img class="position-relative" src="../../Resources/Icons/basket/penalty.png" style="right: 21%;">
            <img class="position-relative" src="../../Resources/Icons/basket/sub.png" style="right: 74%;">
        </div>
        <div class="timeline d-flex flex-row-reverse">
            <div class="event-space">
                0
            </div>
            <div class="event-space">
                5
            </div>
            <div class="event-space">
                10
            </div>
            <div class="event-space">
                15
            </div>
            <div class="event-space">
                20
            </div>
            <div class="event-space">
                25
            </div>
            <div class="event-space">
                30
            </div>
            <div class="event-space">
                35
            </div>
            <div class="event-space">
                40
            </div>
        </div>
        <div class="timeline-basket">
            <img class="position-relative" src="../../Resources/Icons/basket/2point.png" style="right: 46%;">
            <img class="position-relative" src="../../Resources/Icons/basket/rebound.png" style="right: 33%;">
        </div>
        <h6 class=" text-center">
            تایملاین مهرام
        </h6>
    </div>

    <!--player stat-->

    <!--related news-->
    <header class="card-header bg-primary text-light text-center">
        اخبار مرتبط
    </header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 col-md-3 p-1">
                <div class="card  hover-b">
                    <img class="card-img" src="../../Resources/side1.jpg">
                    <h6 class="card-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h6>
                </div>
            </div>
            <div class="col-6 col-md-3 p-1">
                <div class="card  hover-b">
                    <img class="card-img" src="../../Resources/side2.jpg">
                    <h6 class="card-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h6>
                </div>
            </div>
            <div class="col-6 col-md-3 p-1">
                <div class="card hover-b">
                    <img class="card-img" src="../../Resources/side3.jpg">
                    <h6 class="card-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h6>
                </div>
            </div>
            <div class="col-6 col-md-3 p-1">
                <div class="card hover-b">
                    <img class="card-img" src="../../Resources/side3.jpg">
                    <h6 class="card-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h6>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!--videos and pictures-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 p-0">
                <div class="container-fluid">
                    <header class="text-center text-light d-block bg-primary">عکسها</header>
                    <div class="row justify-content-center just">
                        <div class="col-6 col-md-3 p-1">
                            <a data-toggle="modal" href="#modal-1">
                                <img class="img-thumbnail" src="../../Resources/side1.jpg">
                            </a>
                        </div>
                        <div class="col-6 col-md-3 p-1">
                            <a data-toggle="modal" href="#modal-2">
                                <img class="img-thumbnail" src="../../Resources/side2.jpg">
                            </a>
                        </div>
                        <div class="col-6 col-md-3 p-1">
                            <a data-toggle="modal" href="#modal-3">
                                <img class="img-thumbnail" src="../../Resources/side3.jpg">
                            </a>
                        </div>
                        <div class="col-6 col-md-3 p-1">
                            <a data-toggle="modal" href="#modal-1">
                                <img class="img-thumbnail" src="../../Resources/side1.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 p-0">
                <div class="container-fluid">
                    <header class="text-center text-light d-block bg-primary m-0">ویدیوها</header>
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-3 p-1">
                            <a class="d-block position-relative" data-toggle="modal" href="#modal-5">
                                <img class="play-icon " src="../../Resources/Icons/play.png">
                                <img class="img-thumbnail" src="../../Resources/side1.jpg">
                            </a>
                        </div>
                        <div class="col-6 col-md-3 p-1">
                            <a class="d-block position-relative" data-toggle="modal" href="#modal-5">
                                <img class="play-icon " src="../../Resources/Icons/play.png">
                                <img class="img-thumbnail" src="../../Resources/side2.jpg">
                            </a>
                        </div>
                        <div class="col-6 col-md-3 p-1">
                            <a class="d-block position-relative" data-toggle="modal" href="#modal-5">
                                <img class="play-icon " src="../../Resources/Icons/play.png">
                                <img class="img-thumbnail" src="../../Resources/side3.jpg">
                            </a>
                        </div>
                        <div class="col-6 col-md-3 p-1">
                            <a class="d-block position-relative" data-toggle="modal" href="#modal-5">
                                <img class="play-icon " src="../../Resources/Icons/play.png">
                                <img class="img-thumbnail" src="../../Resources/side1.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modals-->
<div class="modal" id="modal-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content ">
            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
            <img class="img-thumbnail" src="../../Resources/side1.jpg">
        </div>
    </div>
</div>
<div class="modal" id="modal-2">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content ">
            <img class="img-thumbnail" src="../../Resources/side2.jpg">
        </div>
    </div>
</div>
<div class="modal" id="modal-3">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content ">
            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
            <img class="img-thumbnail" src="../../Resources/side3.jpg">
        </div>
    </div>
</div>
<div class="modal" id="modal-5">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content embed-responsive embed-responsive-16by9">
            <video class="modal-video embed-responsive-item" controls data-paused-by-reveal>
                <source src="https://www.w3schools.com/htmL/mov_bbb.mp4" type="video/mp4">
                <source src="https://www.w3schools.com/htmL/mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
        </div>
    </div>
</div>
<div class="modal" id="modal-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
            </button>
            <img class="img-thumbnail" src="../../Resources/side1.jpg">
        </div>
    </div>
</div>

<!--script-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script src="../js/autoplay.js"></script>

</body>
</html>