<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--css-->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/league_style.css">

    <!--js-->
    <script src="../js/sorttable.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>

    <title>the title</title>

</head>
<body>
<header>

</header>
<header class="container-fluid league-header">
                <div class="row justify-content-center align-items-center">
                    <img class="col-3 team-logo m-2" src="../../Resources/SuperligaArgentina.png">
                    <h2 class="col-auto order-1 font-italic text-light">سوپرلیگ آرژانتین</h2>
                </div>
            </header>
<main class="container bg-light ">
    <div class="row justify-content-around">
        <div class="col-3 m-2 flex-column p-0 card align-self-start d-none d-md-block">
                <header class="card-header bg-primary text-light">
                    اخبار مرتبط
                </header>
                <div class="card m-1 ">
                    <img class="card-img" src="../../Resources/side1.jpg">
                    <h6 class="card-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h6>
                </div>
                <div class="card m-1">
                    <img class="card-img" src="../../Resources/side2.jpg">
                    <h6 class="card-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h6>
                </div>
                <div class="card m-1">
                    <img class="card-img" src="../../Resources/side3.jpg">
                    <h6 class="card-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h6>
                </div>
        </div>
        <div class="col-8">
            <table class="col-8 mt-2 table table-striped text-center table-bordered table-sm table-responsive-md sortable" dir="rtl">
                <thead class="thead-dark ">
                    <tr>
                        <th scope="col">شماره</th>
                        <th scope="col">تیم</th>
                        <th scope="col">بازیها</th>
                        <th scope="col">برد</th>
                        <th scope="col">باخت</th>
                        <th scope="col">مساوی</th>
                        <th scope="col">گل زده</th>
                        <th scope="col">گل خورده</th>
                        <th scope="col">تفاضل گل</th>
                        <th scope="col">امتیاز</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td scope="row">تیم اول</td>
                        <td scope="row">5</td>
                        <td scope="row">3</td>
                        <td scope="row">2</td>
                        <td scope="row">0</td>
                        <td scope="row">4</td>
                        <td scope="row">2</td>
                        <td scope="row">2</td>
                        <td scope="row">9</td>
                    </tr>
                    <tr>
                        <td scope="row">1</td>
                        <td scope="row">تیم اول</td>
                        <td scope="row">5</td>
                        <td scope="row">3</td>
                        <td scope="row">3</td>
                        <td scope="row">0</td>
                        <td scope="row">4</td>
                        <td scope="row">2</td>
                        <td scope="row">2</td>
                        <td scope="row">9</td>
                    </tr>
                    <tr>
                        <td scope="row">1</td>
                        <td scope="row">تیم اول</td>
                        <td scope="row">5</td>
                        <td scope="row">6</td>
                        <td scope="row">2</td>
                        <td scope="row">0</td>
                        <td scope="row">4</td>
                        <td scope="row">2</td>
                        <td scope="row">2</td>
                        <td scope="row">9</td>
                    </tr>
                    <tr>
                        <td scope="row">1</td>
                        <td scope="row">تیم اول</td>
                        <td scope="row">5</td>
                        <td scope="row">3</td>
                        <td scope="row">2</td>
                        <td scope="row">0</td>
                        <td scope="row">4</td>
                        <td scope="row">2</td>
                        <td scope="row">2</td>
                        <td scope="row">9</td>
                    </tr>
                    <tr>
                        <td scope="row">1</td>
                        <td scope="row">تیم اول</td>
                        <td scope="row">5</td>
                        <td scope="row">3</td>
                        <td scope="row">2</td>
                        <td scope="row">0</td>
                        <td scope="row">4</td>
                        <td scope="row">2</td>
                        <td scope="row">2</td>
                        <td scope="row">9</td>
                    </tr>
                    <tr>
                        <td scope="row">1</td>
                        <td scope="row">تیم اول</td>
                        <td scope="row">5</td>
                        <td scope="row">3</td>
                        <td scope="row">2</td>
                        <td scope="row">0</td>
                        <td scope="row">4</td>
                        <td scope="row">2</td>
                        <td scope="row">2</td>
                        <td scope="row">9</td>
                    </tr>
                    <tr>
                        <td scope="row">1</td>
                        <td scope="row">تیم اول</td>
                        <td scope="row">5</td>
                        <td scope="row">3</td>
                        <td scope="row">2</td>
                        <td scope="row">0</td>
                        <td scope="row">4</td>
                        <td scope="row">2</td>
                        <td scope="row">2</td>
                        <td scope="row">9</td>
                    </tr>
                    <tr>
                        <td scope="row">1</td>
                        <td scope="row">تیم اول</td>
                        <td scope="row">5</td>
                        <td scope="row">3</td>
                        <td scope="row">2</td>
                        <td scope="row">0</td>
                        <td scope="row">4</td>
                        <td scope="row">2</td>
                        <td scope="row">2</td>
                        <td scope="row">9</td>
                    </tr>

                </tbody>
            </table>
            <table class="table table-dark table-borderless text-center" dir="rtl">
                <thead>
                    <tr>
                        <th scope="col">میزبان</th>
                        <th scope="col">نتیجه</th>
                        <th scope="col">میهمان</th>
                        <th scope="col">تاریخ بازی</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>تیم میزبان</td>
                        <td>0-0</td>
                        <td>تیم میهمان</td>
                        <td><time datetime="2011-11-18T14:54:39.929Z">2011/11/18 14:54:39</time></td>
                    </tr>
                    <tr>
                        <td>تیم میزبان</td>
                        <td>0-0</td>
                        <td>تیم میهمان</td>
                        <td><time datetime="2011-11-18T14:54:39.929Z">2011/11/18 14:54:39</time></td>
                    </tr>
                    <tr>
                        <td>تیم میزبان</td>
                        <td>0-0</td>
                        <td>تیم میهمان</td>
                        <td><time datetime="2011-11-18T14:54:39.929Z">2011/11/18 14:54:39</time></td>
                    </tr>
                    <tr>
                        <td>تیم میزبان</td>
                        <td>0-0</td>
                        <td>تیم میهمان</td>
                        <td><time datetime="2011-11-18T14:54:39.929Z">2011/11/18 14:54:39</time></td>
                    </tr>
                    <tr>
                        <td>تیم میزبان</td>
                        <td>0-0</td>
                        <td>تیم میهمان</td>
                        <td><time datetime="2011-11-18T14:54:39.929Z">2011/11/18 14:54:39</time></td>
                    </tr>
                    <tr>
                        <td>تیم میزبان</td>
                        <td>0-0</td>
                        <td>تیم میهمان</td>
                        <td><time datetime="2011-11-18T14:54:39.929Z">2011/11/18 14:54:39</time></td>
                    </tr>
                    <tr>
                        <td>تیم میزبان</td>
                        <td>0-0</td>
                        <td>تیم میهمان</td>
                        <td><time datetime="2011-11-18T14:54:39.929Z">2011/11/18 14:54:39</time></td>
                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</main>


</body>
</html>