<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--css references-->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/styles.css">


    <title>صفحه خبر</title>

</head>
<body>
<header style="width: 100%; height: 300px;">
</header>
<div class="container ">
    <main class="main p-4 text-right">
        <div class="row">
            <div class="col-3 flex-column p-0 card align-self-start d-none d-md-block">
                <header class="card-header bg-primary text-light">
                    اخبار مرتبط
                </header>
                <div class="card m-1 ">
                    <img class="card-img" src="../../Resources/side1.jpg">
                    <h6 class="card-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h6>
                </div>
                <div class="card m-1">
                    <img class="card-img" src="../../Resources/side2.jpg">
                    <h6 class="card-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h6>
                </div>
                <div class="card m-1">
                    <img class="card-img" src="../../Resources/side3.jpg">
                    <h6 class="card-body"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h6>
                </div>
            </div>
            <article class="col-md-9 px-3">
                <header class="p-3">
                    <h1> لورم ایپسوم متن ساختگی</h1>
                    <h6 class="text-muted m-2">
                        تاریخ انتشار خبر
                        <time datetime="2011-11-18T14:54:39.929">2017-3-2 14:53</time>
                    </h6>
                    <h6 class="m-2">
                        منبع خبری: <a href="#">گوگل</a>
                    </h6>
                </header>
                <hr>
                <img class="img-fluid img-thumbnail my-2" src="../../Resources/news%20pic.jpg">
                <p class="p-1 ">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                    آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                    ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که
                    تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی
                    دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                    آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                    ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که
                    تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی
                    دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                    آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                    ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که
                    تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی
                    دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.

                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و
                    آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه
                    ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که
                    تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی
                    دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                </p>
                <hr>
                <div class="tags text-right">
                    <span class="d-inline-block text-muted m-3">
                        تگ های مرتبط
                    </span>
                    <ol class="list-inline mx-3">
                        <li class="btn btn-outline-primary list-inline-item">فوتبال</li>
                        <li class="btn btn-outline-primary list-inline-item">ورزش</li>
                        <li class="btn btn-outline-primary list-inline-item">مسابقه</li>
                        <li class="btn btn-outline-primary list-inline-item">فدراسیون</li>
                    </ol>

                </div>
                <hr>
                <section class="comments">
                    <header>
                        <h6 class="m-3">نظرات</h6>
                    </header>
                    <div class="media  p-2 mx-2 my-2 container">
                        <div class="row">
                            <div class="col-2 align-self-start d-flex flex-column">
                                <img class="align-self-center" src="../../Resources/Avatars/alien_64.png">
                                <span class="text-center">alien</span>
                            </div>
                            <div class="media-body img-thumbnail col-9 p-2 mx-1 my-2">
                                <p class="d-inline-block">
                                    ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون
                                </p>
                                <a class=" text-muted">پاسخ</a>
                                <div class="media  p-2 mx-2 my-2 container">
                                    <div class="row">
                                        <div class="col-2 align-self-start d-flex flex-column">
                                            <img class="align-self-center" src="../../Resources/Avatars/avatar2.png">
                                            <span class="text-center">alien</span>
                                        </div>
                                        <div class="media-body img-thumbnail col-9">
                                            <p>
                                                ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون
                                            </p>
                                            <a class=" text-muted">پاسخ</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <form class="form-group m-3">
                        <label>نظر خود را در این مکان بنویسید</label>
                        <textarea class="form-text w-100 " rows="8" type="text"></textarea>
                        <button type="button" class="btn btn-primary my-2">ثبت نظر</button>

                    </form>


                </section>
            </article>
        </div>

    </main>
</div>

<footer style="width: 100%; height: 300px">
</footer>

<!--js references -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>

</body>
</html>