<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css"/>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>

    <title>the title</title>

</head>
<body class="bg-dark">
    <ul class="nav nav-pills mb-3 justify-content-end" id="pills-tab" role="tablist">
        <li class="nav-item">
             <a class="nav-link " id="pills-fav-tab" data-toggle="pill" href="#pills-fav" role="tab" aria-controls="pills-fav" aria-selected="false">مورد علاقه</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" id="pills-bb-tab" data-toggle="pill" href="#pills-bb" role="tab" aria-controls="pills-bb" aria-selected="false">بسکتبال</a>
        </li>
        <li class="nav-item">
             <a class="nav-link active" id="pills-fb-tab" data-toggle="pill" href="#pills-fb" role="tab" aria-controls="pills-fb" aria-selected="true">فوتبال</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <!-- favourit games to be shown here TODO -->
      <!-- <div class="tab-pane fade text-right" id="pills-fav" role="tabpanel" aria-labelledby="pills-home-tab">consider can the</div>-->
      <!-- basketbal games to be shown here TODO -->
      <!-- <div class="tab-pane fade text-right" id="pills-bb" role="tabpanel" aria-labelledby="pills-profile-tab">universe be justifianly</div> -->
      <!-- footbal games to be shown here TODO -->
      <div class="tab-pane fade show active text-right" id="pills-fb" role="tabpanel" aria-labelledby="pills-contact-tab">

          <div class="container">
              <div class="row flex-row-reverse">

                  <div class="col-4 ">
                      <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">بازی مقدماتی فلان</h5>
                            <p class="card-text text-truncate" style="direction: rtl">دو تیم پس از تلاش در مقابل هم قرار گرفتند</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">تیم 1</li>
                            <li class="list-group-item">تیم 2</li>
                            <li class="list-group-item">استادیوم فلان</li>
                          </ul>
                          <div class="card-body">
                            <span class="badge badge-secondary">در حال پخش</span>
                              <span class="badge badge-info">جدید</span>
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                      </div>
                  </div>

                    <div class="col-4 ">
                      <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">بازی مقدماتی فلان</h5>
                            <p class="card-text text-truncate" style="direction: rtl">دو تیم پس از تلاش در مقابل هم قرار گرفتند</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">تیم 1</li>
                            <li class="list-group-item">تیم 2</li>
                            <li class="list-group-item">استادیوم فلان</li>
                          </ul>
                          <div class="card-body">
                            <span class="badge badge-secondary">در حال پخش</span>
                              <span class="badge badge-info">دیده شده</span>
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                      </div>
                  </div>


                  <div class="col-4 ">
                      <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">بازی مقدماتی فلان</h5>
                            <p class="card-text text-truncate" style="direction: rtl">دو تیم پس از تلاش در مقابل هم قرار گرفتند</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">تیم 1</li>
                            <li class="list-group-item">تیم 2</li>
                            <li class="list-group-item">استادیوم فلان</li>
                          </ul>
                          <div class="card-body">
                            <span class="badge badge-secondary">بزودی</span>
                              <span class="badge badge-info">جدید</span>
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                      </div>
                  </div>



                  <div class="col-4 ">
                      <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">بازی مقدماتی فلان</h5>
                            <p class="card-text text-truncate" style="direction: rtl">دو تیم پس از تلاش در مقابل هم قرار گرفتند</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">تیم 1</li>
                            <li class="list-group-item">تیم 2</li>
                            <li class="list-group-item">استادیوم فلان</li>
                          </ul>
                          <div class="card-body">
                            <span class="badge badge-secondary">در حال پخش</span>
                              <span class="badge badge-info">جدید</span>
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                      </div>
                  </div>


                  <div class="col-4 ">
                      <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">بازی مقدماتی فلان</h5>
                            <p class="card-text text-truncate" style="direction: rtl">دو تیم پس از تلاش در مقابل هم قرار گرفتند</p>
                          </div>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">تیم 1</li>
                            <li class="list-group-item">تیم 2</li>
                            <li class="list-group-item">استادیوم فلان</li>
                          </ul>
                          <div class="card-body">
                            <span class="badge badge-secondary">در حال پخش</span>
                              <span class="badge badge-info">جدید</span>
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                      </div>
                  </div>

              </div>
          </div>


      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</body>
</html>