<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css"/>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>

    <title>the title</title>

</head>
<body>
<div class="container-fluid text-right" style="direction: rtl"><div class="row justify-content-center"><div class="col-9">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col text-center">
                <p class="h1">صفحه اخبار</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col container border">
                <div class="row "> <div class="col"><p class="display-4 text-right ">مورد علاقه ها</p> <hr> </div>  </div>
                <div class="row align-items-center ">
                    <div class="col-3" >

                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-3">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-3">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-3">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><div class="col" style="background-color: #9fcdff; height: 50px" ></div></div>
        <div class="row align-items-center">
            <div class="col-6 container border">
                <div class="row "> <div class="col"><p class="display-4 text-right ">بسکتبال</p> <hr> </div>  </div>
                <div class="row align-items-center">
                    <div class="col-6" >
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-6 container border">
                <div class="row "> <div class="col"><p class="display-4 text-right ">فوتبال</p> <hr> </div>  </div>
                <div class="row align-items-center">
                    <div class="col-6" >
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</body>
</html>