<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--css references-->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/news_page_style.css">

    <!--js references -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>

    <title>صفحه اخبار</title>

</head>
<body>
<div class="container-fluid text-right" style="direction: rtl"><div class="row justify-content-center"><div class="col-9">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col text-center">
                <p class="h1">صفحه اخبار</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col container ">
                <div class="row "> <div class="col"><p class="display-4 text-right ">مورد علاقه ها</p> <hr> </div>  </div>
                <div class="row align-items-center ">
                    <div class="col-md-5 col-sm-10 col-lg-3" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">

                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-md-5 col-sm-10 col-lg-3" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-10 col-lg-3" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-md-5 col-sm-10 col-lg-3" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-md-5 col-sm-10 col-lg-3" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><div class="col" style="background-color: #9fcdff; height: 50px" ></div></div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-10 container ">
                <div class="row "> <div class="col"><p class="display-4 text-right ">بسکتبال</p> <hr> </div>  </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-10" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-10" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-10" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-10" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-10" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-lg-6 col-sm-10 container " >
                <div class="row "> <div class="col"><p class="display-4 text-right ">فوتبال</p> <hr> </div>  </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-10" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-10" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-10" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-10" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-10" onmouseover="$(this).parent().css('position', 'relative');$(this).css('z-index', 70000);" onmouseleave=" $(this).css('z-index', 1000);">
                        <div class="card bg-light" style="width: 18rem; margin-bottom: 50px">
                          <img class="card-img-top" src="../../Resources/pics/vs.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">سر تیتر خبر</h5>
                            <p class="card-text text-truncate" style="direction: rtl">توضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحاتتوضیحات </p>
                          </div>
                          <ul class="list-group list-group-flush">
                          </ul>
                          <div class="card-body">
                            <a href="#" class="card-link">مشاهده</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div></div>


</body>
</html>