<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css"/>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>

    <title>the title</title>

</head>
<body>
<div class="container-fluid"><div class="row justify-content-center"><div class="col-9">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col text-center">
                <img class="card-img-top" src="../pics/news_banner.png" height="350px">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col container border">
                <div class="row "> <div class="col"><p class="display-4 text-right ">مورد علاقه ها</p> <hr> </div>  </div>
                <div class="row align-items-center">
                    <div class="col-3" >
                        <a href="google.com">
                            <img class="card-img-top rounded" src="../pics/maxresdefault.jpg"   height="200px" ></a>
                        <p class="h2">some news about footbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>
                    </div>
                    <div class="col-3">
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/sports-news.jpg" height="200px"></a>
                        <p class="h2">some news about basketbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>
                    </div>
                    <div class="col-3">
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/Sports-News-5_3.jpg" height="200px"></a>
                        <p class="h2">some news about footbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>

                    </div>
                    <div class="col-3">
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/Sports-News-5_3.jpg" height="200px"></a>
                        <p class="h2">some news about footbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>

                    </div>
                    <div class="col-3">
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/sports-news.jpg" height="200px"></a>
                        <p class="h2">some news about basketbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"><div class="col" style="background-color: #9fcdff; height: 50px" ></div></div>
        <div class="row align-items-center">
            <div class="col-6 container border">
                <div class="row "> <div class="col"><p class="display-4 text-right ">بسکتبال</p> <hr> </div>  </div>
                <div class="row align-items-center">
                    <div class="col-6" >
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/maxresdefault.jpg"   height="200px" ></a>
                        <p class="h2">some news about footbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>
                    </div>
                    <div class="col-6">
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/sports-news.jpg" height="200px"></a>
                        <p class="h2">some news about basketbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>
                    </div>
                    <div class="col-6">
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/Sports-News-5_3.jpg" height="200px"></a>
                        <p class="h2">some news about footbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>

                    </div>
                    <div class="col-6">
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/Sports-News-5_3.jpg" height="200px"></a>
                        <p class="h2">some news about footbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>

                    </div>
                    <div class="col-6">
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/sports-news.jpg" height="200px"></a>
                        <p class="h2">some news about basketbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>
                    </div>
                </div>
            </div>
        <div class="col-6 container border">
                <div class="row "> <div class="col"><p class="display-4 text-right ">فوتبال</p> <hr> </div>  </div>
                <div class="row align-items-center">
                    <div class="col-6" >
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/maxresdefault.jpg"   height="200px" ></a>
                        <p class="h2">some news about footbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>
                    </div>
                    <div class="col-6">
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/sports-news.jpg" height="200px"></a>
                        <p class="h2">some news about basketbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>
                    </div>
                    <div class="col-6">
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/Sports-News-5_3.jpg" height="200px"></a>
                        <p class="h2">some news about footbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>

                    </div>
                    <div class="col-6">
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/Sports-News-5_3.jpg" height="200px"></a>
                        <p class="h2">some news about footbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>

                    </div>
                    <div class="col-6">
                        <a href="google.com">
                        <img class="card-img-top rounded" src="../pics/sports-news.jpg" height="200px"></a>
                        <p class="h2">some news about basketbal <br> <small class="text-muted">nov 17</small></p>
                        <P class="text-truncate" style="max-height: 50px">lores ipnusldkjflksajfslkdfjsldkfja lksdfj alskdjf slkadfj alskdfj slkdf jskldfj sdklfj slkf sdklfsd jfklsd jfskldfj sldkf jslkdfj dslkfj dklf jsdlf dsjflk
                        </P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</body>
</html>