@font-face {
    font-family: Sansweb-Bold;
    src: url("../../Resources/font/IRANSansWeb-Bold.woff");
}
@font-face {
    font-family: Sansweb;
    src: url("../../Resources/font/IRANSansWeb.woff");
}

body {
    background-color: #80bdff;
    font-family: Sansweb;
}

.league-header {
    background: url("../../Resources/header-background/league-header-background.jpg");
}

.team-logo {
    max-height: 250px;
    object-fit: scale-down;
}

.card > .card:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
