<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"/>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

    <title>the title</title>

</head>
<body>
    <div class="container-fluid" >
        <div class="row">
            <div class="col">
                <!--
                    image header
                -->
                <div class="card" >
                  <img class="card-img-top" src="../Resources/pics/maxresdefault.jpg" alt="Card image cap" style="width: 100%;height: 120px;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--
                    navbar
                -->

                <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light">

                  <a class="navbar-brand" href="#">ثبت نام</a>
                  <a class="navbar-brand" href="#">ورود</a>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto" style="font-size: 2em">

                      <li class="nav-item active">
                        <a class="nav-link" href="#">بازی ها <span class="sr-only">(current)</span></a>
                      </li>

                      <li class="nav-item active">
                        <a class="nav-link" href="#">اخبار <span class="sr-only">(current)</span></a>
                      </li>

                      <li class="nav-item active">
                        <a class="nav-link" href="#">خانه <span class="sr-only">(current)</span></a>
                      </li>

                    </ul>
                  </div>
                </nav>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--
                    main content
                -->

            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--
                    footer
                -->

            </div>
        </div>


    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</body>
</html>
<!--
12 max colums in container : .col-4 .col-4 .col4
-->